// -- Colors -- //
// Primary
$primary: #baabda;
$primary__light-shade: #9e8fbe;
$primary__shade: #7b6c9b;
$primary__shade2: #5f4e80;
$primary__dark: #231a38;
$primary__dark2: #33284d;
$primary__light: #ceb7ff;
$primary__light2: #dfd1ff;

// Secondary
$secondary: #9fdfcd;
$secondary__shade: #89c2b2;
$secondary__shade2: #629788;
$secondary__dark: #1d393a;
$secondary__light: #baf7e5;
$secondary__light2: #d2fff1;
$secondary__bright: #58ffd0;

// Ternary
$ternary: #9de07d;
$ternary__shade: #97ce7d;
$ternary__light: #c4ebb2;
$ternary__light2: #dcffcc;
$ternary__bright: #75ff35;

// Quaternary
$quaternary: #cc679f;
$quaternary__shade: #9e507b;
$quaternary__dark: #8a4169;
$quaternary__light: #d79abc;
$quaternary__light2: #ffcce8;
$quaternary__bright: #ff58b4;

// Black/White/Greys
$black: #111111;
$white: #ebebeb;


// -- Screen Sizes -- //
$screen-width__sm: 520px;
$screen-width__md: 720px;
